@import "tailwindcss";


/* Chrome, Edge, Safari */
.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* IE / old Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  scrollbar-width: none;
   -ms-overflow-style: none;
}
